body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 1em;
    text-align: center;
}

main {
    padding: 2em;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    /* justify-content: space-around; */
    justify-content: center;
  }
  
  nav ul li {
    /* display: inline;
    margin-right: 10px; */
    margin: 0 15px;
  }
  
  nav ul li a {
    text-decoration: none;
    /* color: #333; */
    color: white;
    font-weight: bold;
  }
  
.cart-items {
    max-width: 600px;
    margin: auto;
    padding: 1em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #f9f9f9;
    text-align: center;
}

.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
}

.quantity {
    width: 50px;
    text-align: center;
}

.total {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    margin-top: 1em;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 20px 0;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #45a049;
}
footer {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 0.5em 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}