p{
    text-align: justify;
     font-size: 1.2em; 
}
h3, h4,h5, h6{
    font-size: 1.7em;
}
h2{
    text-align: center;
    color: #45a050;
    text-shadow: 2px 2px 4px #aaa;
    font-size: 2.5 em;
}
header {
    background-color: #4CAF50;
    color: white;
    padding: 10px 0;
    text-align: center;
}
nav ul {
    list-style: none;
    padding: 0;
}
nav ul li {
    display: inline;
    margin-right: 10px;
}
nav ul li a {
    color: white;
    text-decoration: none;
}
.dynamic-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    animation: fadeIn 2s ease-in-out;
}
.dynamic-image img {
    max-width: 100%;
    height: auto;
    transition: transform 0.3s ease-in-out, border 0.3s ease-in-out; 
    border: 5px solid transparent;
}
.dynamic-image img:hover {
    transform: scale(1.1);
    border: 5px solid white;
    border-radius: 2rem;
}
#imagecontainer{
  height: 100%;
}
#imageContainer1{
  /* height: 100%; */
  width: 2lvi;
 height: auto;
 width: 100%;
}
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
@keyframes dynamicBorder { 
    0% { border-color: red; } 
    25% { border-color: blue; } 
    50% { border-color: green; } 
    75% { border-color: yellow; } 
    100% { border-color: red; } 
} 
.animated-border { 
    animation: dynamicBorder 5s infinite; 
}

.content:hover, .content1:hover {
    transform: scale(1.05);
    background-color: white;
    color:#4CAF50;
    border-radius: 5em;
    padding: 2em;
    /* box-sizing: border-box; */
}
.section2 {
    padding: 20px;
}
@media (max-width: 768px) {
    .content, .content1 {
        width: 100%;
        margin: 0;
    }
}
.benefit{
  color:white;
    /* background-color: #4CAF50; */
    box-sizing: border-box;
}